:root {
    --cw_black: #444;
    --cw_key: #009688;
    --cw_key2: #009688cc;
    --cw_brand: #37B849;
    --cw_bg: #eee;
    --cw_black1: rgba(0, 0, 0, .1);
    --cw_shortshadow: 0 10px 30px var(--cw_black1);
    --cw_longshadow: 0 20px 30px var(--cw_black1);
    --cw_radius: 8px;
}

#chat-wa,
#chat-wa *,
#chat-wa:before,
#chat-wa *:before,
#chat-wa:after,
#chat-wa *:after {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    outline: 0;
    padding: 0;
    margin: 0;
}

#chat-wa a {
    text-decoration: none;
    color: var(--cw_black);
}

#chat-wa b {
    font-weight: 500;
}

#chat-wa img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* / reset */
#chat-wa {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    font-size: 16px;
    line-height: 1.4;
    color: var(--cw_black);

    transition: .4s;
    visibility: hidden;
    opacity: 0;
}

#chat-wa.left {
    right: auto;
    left: 0;
}

#chat-wa.load {
    bottom: 40px;
    right: 40px;
    visibility: visible;
    opacity: 1;
}

#chat-wa.left.load {
    right: auto;
    left: 40px;
}

#chat-wa .cw-btn {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 60px 60px 0 60px;
    box-shadow: var(--cw_shortshadow);
    background: #fff no-repeat center center;
    background-image: url("data:image/svg+xml,%3Csvg fill='%2337B849' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M260.062 32C138.605 32 40.134 129.701 40.134 250.232c0 41.23 11.532 79.79 31.559 112.687L32 480l121.764-38.682c31.508 17.285 67.745 27.146 106.298 27.146C381.535 468.464 480 370.749 480 250.232 480 129.701 381.535 32 260.062 32zm109.362 301.11c-5.174 12.827-28.574 24.533-38.899 25.072-10.314.547-10.608 7.994-66.84-16.434-56.225-24.434-90.052-83.844-92.719-87.67-2.669-3.812-21.78-31.047-20.749-58.455 1.038-27.413 16.047-40.346 21.404-45.725 5.351-5.387 11.486-6.352 15.232-6.413 4.428-.072 7.296-.132 10.573-.011 3.274.124 8.192-.685 12.45 10.639 4.256 11.323 14.443 39.153 15.746 41.989 1.302 2.839 2.108 6.126.102 9.771-2.012 3.653-3.042 5.935-5.961 9.083-2.935 3.148-6.174 7.042-8.792 9.449-2.92 2.665-5.97 5.572-2.9 11.269 3.068 5.693 13.653 24.356 29.779 39.736 20.725 19.771 38.598 26.329 44.098 29.317 5.515 3.004 8.806 2.67 12.226-.929 3.404-3.599 14.639-15.746 18.596-21.169 3.955-5.438 7.661-4.373 12.742-2.329 5.078 2.052 32.157 16.556 37.673 19.551 5.51 2.989 9.193 4.529 10.51 6.9 1.317 2.38.901 13.531-4.271 26.359z'%3E%3C/path%3E%3C/svg%3E");
    background-size: auto 50%;
    transition: .2s;
}

#chat-wa.left .cw-btn {
    border-radius: 60px 60px 60px 0;
}

#chat-wa .cw-btn:active {
    box-shadow: none;
}

#chat-wa.open .cw-btn {
    visibility: hidden;
    opacity: 0;
}

#chat-wa .cw-btn .cw-btn-avatar {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 100%;
    background: no-repeat center center;
    background-size: cover;

    transition: .2s;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

#chat-wa .cw-btn.hello .cw-btn-avatar {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

#chat-wa .cw-btn .cw-btn-hello {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    background: #fff;
    text-align: right;
    box-shadow: var(--cw_longshadow);
    padding: 15px 30px;
    border-radius: 100px;

    transition: .4s;
    right: 100%;
    visibility: hidden;
    opacity: 0;
}

#chat-wa.left .cw-btn .cw-btn-hello {
    right: auto;
    left: 100%;
}

#chat-wa .cw-btn.hello .cw-btn-hello {
    visibility: visible;
    opacity: 1;
    right: calc(100% + 20px);
}

#chat-wa.left .cw-btn.hello .cw-btn-hello {
    right: auto;
    left: calc(100% + 20px);
}

#chat-wa.open .cw-btn .cw-btn-hello {
    right: 100%;
    visibility: hidden;
    opacity: 0;
}

#chat-wa.open.left .cw-btn .cw-btn-hello {
    right: auto;
    left: 100%;
}

#chat-wa .cw-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--cw_bg);
    width: 320px;
    box-shadow: var(--cw_longshadow), 0 0 0 .5px var(--cw_black1);
    border-radius: var(--cw_radius);
    overflow: hidden;

    transform-origin: bottom right;
    transform: scale(.8);
    transition: .2s;
    visibility: hidden;
    opacity: 0;
}

#chat-wa.left .cw-box {
    transform-origin: bottom left;
    right: auto;
    left: 0;
}

#chat-wa.open .cw-box {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}

#chat-wa .cw-box .cw-lightbox {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    /*display: none;*/
    display: flex;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
#chat-wa .cw-box .cw-lightbox.open {
    visibility: visible;
    opacity: 1;
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: .1s;
    opacity: 0;
}
#chat-wa .cw-box .cw-lightbox.open .cw-lightbox-overlay {
    opacity: .4;
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap {
    position: relative;
    z-index: 1;
    background: red;
    display: block;
    margin: 100px auto auto;
    width: 100%;
    max-width: 220px;
    border-radius: var(--cw_radius);
    overflow:hidden;

    transition: .2s;
    transform-origin: left top;
    transform: scale(.5);
}
#chat-wa .cw-box .cw-lightbox.open .cw-lightbox-wrap {
    transform: scale(1);
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-avatar {
    width: 100%;
    padding-top: 100%;
    background: no-repeat center center;
    background-size: cover;
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link {
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link > a {
    height: 50px;
    background: no-repeat center center;
    background-size: auto 20px;
    text-indent: -9999px;
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link > a:hover {
    background-color: var(--cw_bg);
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link .website {
    background-image: url("data:image/svg+xml,%3Csvg style='fill:%23009688' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M280 341.1l-1.2.1c-3.6.4-7 2-9.6 4.5l-64.6 64.6c-13.7 13.7-32 21.2-51.5 21.2s-37.8-7.5-51.5-21.2c-13.7-13.7-21.2-32-21.2-51.5s7.5-37.8 21.2-51.5l68.6-68.6c3.5-3.5 7.3-6.6 11.4-9.3 4.6-3 9.6-5.6 14.8-7.5 4.8-1.8 9.9-3 15-3.7 3.4-.5 6.9-.7 10.2-.7 1.4 0 2.8.1 4.6.2 17.7 1.1 34.4 8.6 46.8 21 7.7 7.7 13.6 17.1 17.1 27.3 2.8 8 11.2 12.5 19.3 10.1.1 0 .2-.1.3-.1.1 0 .2 0 .2-.1 8.1-2.5 12.8-11 10.5-19.1-4.4-15.6-12.2-28.7-24.6-41-15.6-15.6-35.9-25.8-57.6-29.3-1.9-.3-3.8-.6-5.7-.8-3.7-.4-7.4-.6-11.1-.6-2.6 0-5.2.1-7.7.3-5.4.4-10.8 1.2-16.2 2.5-1.1.2-2.1.5-3.2.8-6.7 1.8-13.3 4.2-19.5 7.3-10.3 5.1-19.6 11.7-27.7 19.9l-68.6 68.6C58.9 304.4 48 330.8 48 359c0 28.2 10.9 54.6 30.7 74.4C98.5 453.1 124.9 464 153 464c28.2 0 54.6-10.9 74.4-30.7l65.3-65.3c10.4-10.5 2-28.3-12.7-26.9z'%3E%3C/path%3E%3Cpath d='M433.3 78.7C413.5 58.9 387.1 48 359 48s-54.6 10.9-74.4 30.7l-63.7 63.7c-9.7 9.7-3.6 26.3 10.1 27.4 4.7.4 9.3-1.3 12.7-4.6l63.8-63.6c13.7-13.7 32-21.2 51.5-21.2s37.8 7.5 51.5 21.2c13.7 13.7 21.2 32 21.2 51.5s-7.5 37.8-21.2 51.5l-68.6 68.6c-3.5 3.5-7.3 6.6-11.4 9.3-4.6 3-9.6 5.6-14.8 7.5-4.8 1.8-9.9 3-15 3.7-3.4.5-6.9.7-10.2.7-1.4 0-2.9-.1-4.6-.2-17.7-1.1-34.4-8.6-46.8-21-7.3-7.3-12.8-16-16.4-25.5-2.9-7.7-11.1-11.9-19.1-9.8-8.9 2.3-14.1 11.7-11.3 20.5 4.5 14 12.1 25.9 23.7 37.5l.2.2c16.9 16.9 39.4 27.6 63.3 30.1 3.7.4 7.4.6 11.1.6 2.6 0 5.2-.1 7.8-.3 6.5-.5 13-1.6 19.3-3.2 6.7-1.8 13.3-4.2 19.5-7.3 10.3-5.1 19.6-11.7 27.7-19.9l68.6-68.6c19.8-19.8 30.7-46.2 30.7-74.4s-11.1-54.6-30.9-74.4z'%3E%3C/path%3E%3C/svg%3E");
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link .instagram {
    background-image: url("data:image/svg+xml,%3Csvg style='fill:%23009688' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M336 96c21.2 0 41.3 8.4 56.5 23.5S416 154.8 416 176v160c0 21.2-8.4 41.3-23.5 56.5S357.2 416 336 416H176c-21.2 0-41.3-8.4-56.5-23.5S96 357.2 96 336V176c0-21.2 8.4-41.3 23.5-56.5S154.8 96 176 96h160m0-32H176c-61.6 0-112 50.4-112 112v160c0 61.6 50.4 112 112 112h160c61.6 0 112-50.4 112-112V176c0-61.6-50.4-112-112-112z'%3E%3C/path%3E%3Cpath d='M360 176c-13.3 0-24-10.7-24-24s10.7-24 24-24c13.2 0 24 10.7 24 24s-10.8 24-24 24zM256 192c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64m0-32c-53 0-96 43-96 96s43 96 96 96 96-43 96-96-43-96-96-96z'%3E%3C/path%3E%3C/svg%3E");
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link .facebook {
    background-image: url("data:image/svg+xml,%3Csvg style='fill:%23009688' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M426.8 64H85.2C73.5 64 64 73.5 64 85.2v341.6c0 11.7 9.5 21.2 21.2 21.2H256V296h-45.9v-56H256v-41.4c0-49.6 34.4-76.6 78.7-76.6 21.2 0 44 1.6 49.3 2.3v51.8h-35.3c-24.1 0-28.7 11.4-28.7 28.2V240h57.4l-7.5 56H320v152h106.8c11.7 0 21.2-9.5 21.2-21.2V85.2c0-11.7-9.5-21.2-21.2-21.2z'%3E%3C/path%3E%3C/svg%3E");
}
#chat-wa .cw-box .cw-lightbox .cw-lightbox-wrap .cw-lightbox-link .twitter {
    background-image: url("data:image/svg+xml,%3Csvg style='fill:%23009688' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z'%3E%3C/path%3E%3C/svg%3E");
}

#chat-wa .cw-box .cw-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    background: #fff;
    padding: 20px;
    line-height: 1;
    cursor: default;
}

#chat-wa .cw-box .cw-header .cw-avatar {
    position: relative;
    cursor: pointer;
}

#chat-wa .cw-box .cw-header .cw-avatar .cw-indicator {
    position: absolute;
    bottom: 2px;
    right: 0px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: var(--cw_brand);
    box-shadow: 0 0 0 2px #fff;
}

#chat-wa .cw-box .cw-header .cw-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
}

#chat-wa .cw-box .cw-header .cw-info {
    display: flex;
    cursor: pointer;
}

#chat-wa .cw-box .cw-header .cw-info .cw-profile {
    margin: auto;
    margin-left: 0;
}

#chat-wa .cw-box .cw-header .cw-info .cw-profile .cw-name {
    font-weight: 500;
}

#chat-wa .cw-box .cw-header .cw-info .cw-profile .cw-status {
    display: block;
    margin-top: 5px;
    font-size: 75%;
    opacity: .5;
}

#chat-wa .cw-box .cw-header .cw-close {
    display: flex;
    cursor: pointer;
    background: no-repeat center center;
    width: 40px;
    background-size: 80% auto;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M278.6 256l68.2-68.2c6.2-6.2 6.2-16.4 0-22.6-6.2-6.2-16.4-6.2-22.6 0L256 233.4l-68.2-68.2c-6.2-6.2-16.4-6.2-22.6 0-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3l68.2 68.2-68.2 68.2c-3.1 3.1-4.7 7.2-4.7 11.3 0 4.1 1.6 8.2 4.7 11.3 6.2 6.2 16.4 6.2 22.6 0l68.2-68.2 68.2 68.2c6.2 6.2 16.4 6.2 22.6 0 6.2-6.2 6.2-16.4 0-22.6L278.6 256z'%3E%3C/path%3E%3C/svg%3E");
    opacity: .5;
}

#chat-wa .cw-box .cw-hello {
    height: 50vh;
    max-height: calc(100vh - 170px - 80px);
    /* vh - header & footer - outer padding */
    overflow: auto;
    padding: 20px;
}
#chat-wa.dihapus_dzalim .cw-box .cw-hello {
    max-height: calc(100vh - 203px - 80px);
    /* vh - header & footer - outer padding */
}

@media only screen and (max-width: 768px) {
    #chat-wa * {
        cursor: default !important;
    }

    #chat-wa.load {
        bottom: 20px;
        right: 20px;
    }

    #chat-wa.left.load {
        left: 20px;
    }

    #chat-wa .cw-box {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }

    #chat-wa .cw-box .cw-hello {
        height: 100%;
        max-height: calc(100% - 170px);
        /*max-height: calc(100vh - 203px);*/
        /* vh - header & footer*/
    }
    #chat-wa.dihapus_dzalim .cw-box .cw-hello {
        max-height: calc(100vh - 203px);
        /* vh - header & footer*/
    }
}

#chat-wa .cw-box .cw-hello .cw-mimin {
    background: #fff;
    margin-right: 40px;
    padding: 15px 20px;
    border-radius: 0 var(--cw_radius) var(--cw_radius) var(--cw_radius);
    box-shadow: 0 1px 0 0 var(--cw_black1);
    transition: .1s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: top left;
}

#chat-wa .cw-box .cw-hello .cw-reply {
    background: #fff;
    margin-left: 40px;
    padding: 15px 20px;
    border-radius: var(--cw_radius) 0 var(--cw_radius) var(--cw_radius);
    box-shadow: 0 1px 0 0 var(--cw_black1);
}

#chat-wa .cw-box .cw-hello .cw-mimin.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

#chat-wa .cw-box .cw-hello .cw-mimin small,
#chat-wa .cw-box .cw-hello .cw-reply small {
    display: block;
    text-align: right;
    line-height: 1;
    opacity: .5;
    font-size: 75%;
}

#chat-wa .cw-box .cw-form-text {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    padding: 20px;
}

#chat-wa .cw-box .cw-form-text:before {
    content: '';
    position: absolute;
    bottom: 90px;
    left: 0;
    height: 20px;
    width: 100%;
    background: linear-gradient(transparent, var(--cw_bg));
}
#chat-wa.dihapus_dzalim .cw-box .cw-form-text:before {
    bottom: 123px;
}

#chat-wa .cw-box .cw-form-text input[type=text],
#chat-wa .cw-box .cw-form-text .cw-send {
    display: block;
    border: 0;
    height: 50px;
    width: 100%;
}

#chat-wa .cw-box .cw-form-text input[type=text] {
    padding: 0 30px;
    border-radius: 50px;
    box-shadow: 0 1px 0 0 var(--cw_black1);
}

#chat-wa .cw-box .cw-form-text .cw-send {
    cursor: pointer;
    background: var(--cw_key) no-repeat center center;
    border-radius: 50px;
    color: #fff;
    background-image: url("data:image/svg+xml,%0A%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 535.5 535.5' style='enable-background:new 0 0 535.5 535.5;' xml:space='preserve'%3E%3Cpolygon points='0,497.25 535.5,267.75 0,38.25 0,216.75 382.5,267.75 0,318.75'/%3E%3C/svg%3E");
    background-size: auto 40%;
    width: 50px;
}

#chat-wa .cw-box .cw-form-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, .9);
    display: flex;
    padding: 40px;

    transition: .2s;
    visibility: hidden;
    opacity: 0;
}

#chat-wa .cw-box .cw-form-user.open {
    /*right: 0;*/
    visibility: visible;
    opacity: 1;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    width: 100%;
    margin: auto;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap input[type=text],
#chat-wa .cw-box .cw-form-user .cw-user-wrap input[type=tel],
#chat-wa .cw-box .cw-form-user .cw-user-wrap button,
#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-send {
    display: block;
    border: 0;
    height: 50px;
    width: 100%;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap input[type=text],
#chat-wa .cw-box .cw-form-user .cw-user-wrap input[type=tel] {
    border: 1px solid var(--cw_black1);
    padding: 0 30px;
    border-radius: 50px;
    box-shadow: 0 1px 0 0 var(--cw_black1);
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-user-title {
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-tel {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-tel [name=country] {
    text-align: center;
    padding: 0;
    border-right: 0;
    border-radius: 50px 0 0 50px;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-tel [name=whatsapp] {
    border-radius: 0 50px 50px 0;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-submit {
    margin-top: 20px;
    cursor: pointer;
    background: var(--cw_key);
    border-radius: 50px;
    color: #fff;
    font-size: 110%;
    letter-spacing: .5px;
}

#chat-wa .cw-box .cw-form-user .cw-user-wrap .cw-back span {
    cursor: pointer;
    color: var(--cw_key);
}

#chat-wa .cw-box .cw-form-text .cw-og {
    text-decoration: none;
    position: absolute;
    bottom: 90px;
    left: 20px;
    max-width: calc(100% - 40px);
    display: grid;
    grid-template-columns: auto 1fr;
    background: rgba(255, 255, 255, .9);
    padding: 10px;
    border-radius: var(--cw_radius);
    box-shadow: var(--cw_longshadow);
    cursor: default;

    visibility: hidden;
    opacity: 0;
    transition: .2s;
}
#chat-wa.dihapus_dzalim .cw-box .cw-form-text .cw-og {
    bottom: 123px;
}

#chat-wa .cw-box .cw-form-text input:focus~.cw-og {
    visibility: visible;
    opacity: 1;
}

#chat-wa .cw-box .cw-form-text .cw-og:before {
    content: '';
    position: absolute;
    top: calc(100% - 7.5px);
    left: 20px;
    display: block;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, .9);
    border-radius: 2px;
    transform: rotate(45deg);
}

#chat-wa .cw-box .cw-form-text .cw-og .cw-og-img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: no-repeat center center;
    background-size: cover;
    margin-right: 10px;
}

#chat-wa .cw-box .cw-form-text .cw-og .cw-og-info {
    overflow: hidden;
}

#chat-wa .cw-box .cw-form-text .cw-og .cw-og-info .cw-og-title {
    font-weight: 500;
    color: var(--cw_key);
    font-size: 80%;
    line-height: 1.2;
}

#chat-wa .cw-box .cw-form-text .cw-og .cw-og-info .cw-og-url {
    display: block;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    text-overflow: ellipsis;
    font-size: 75%;
    opacity: .8;
}

#chat-wa .cw-box .cw-free {
    display: block;
    text-align: center;
    padding: 10px 0;
    line-height: 1;
    background: #fafafa;
    border-top: 1px solid #eee;
    font-size: 75%;
    letter-spacing: .2px;
    cursor: default;
}

#chat-wa .cw-box .cw-free .cw-credit {
    color: var(--cw_key);
    cursor: pointer;
    text-decoration: none;
}